.word-container {
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    max-width: 960px;
    input {
        margin-left: 10px;
        padding: 5px;
        border: 1px solid #c1c1c1;
    }
    input:focus {
        border-color: blue;
    }
    .btn-done {
        background: url("../../assets/img/baseline-done-24px.svg") center center / 70% no-repeat;
    }
    .btn-dlt {
        background: url("../../assets/img/baseline-delete_outline-24px.svg") center center / 70% no-repeat;
    }
}

@media only screen and (max-width: 576px) {
    .word-container {
        input {
            max-width: 110px;
            margin: 3px;
        }
        button {
            height: 25px;
            width: 25px;
        }
    }
}